h1 {
    color: #03254c;
    font-size: 200%;
}
h2 {
    color: #3A8CC4;
    font-size: 175%;
}
h3 {
    color: #03254c;
    font-size: 150%;
}
h4 {
    color: #2F9679;
    font-size: 125%;
}
h5 {
    color: #03254c;
    font-size: 105%;
}
h6 {
    color: #BC6D92;
    font-size: 100%;
}
